# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/react-app/static/js/453.53fcedf1.chunk.js
/react-eb-deploy/static/js/453.53fcedf1.chunk.js
/react-app/static/js/453.53fcedf1.chunk.js.map
/react-eb-deploy/static/js/453.53fcedf1.chunk.js.map
/react-app/asset-manifest.json
/react-eb-deploy/asset-manifest.json
/react-app/static/media/coupe.e0dc24b20705a70c7556.avif
/react-eb-deploy/static/media/coupe.e0dc24b20705a70c7556.avif
/react-app/Dockerfile
/react-eb-deploy/Dockerfile
/react-app/favicon.ico
/react-eb-deploy/favicon.ico
/react-app/static/media/hatchback.f8ee681fca66537be1a7.jpg
/react-eb-deploy/static/media/hatchback.f8ee681fca66537be1a7.jpg
/react-app/index.html
/react-eb-deploy/index.html
/react-app/static/media/loan.f0c630c780a263e3314f.jpeg
/react-eb-deploy/static/media/loan.f0c630c780a263e3314f.jpeg
/react-app/static/media/logo.0ea00d2ffa5834cdd2b3.webp
/react-eb-deploy/static/media/logo.0ea00d2ffa5834cdd2b3.webp
/react-app/logo192.png
/react-eb-deploy/logo192.png
/react-app/logo512.png
/react-eb-deploy/logo512.png
/react-app/static/js/main.538db015.js
/react-eb-deploy/static/js/main.538db015.js
/react-app/static/js/main.538db015.js.LICENSE.txt
/react-eb-deploy/static/js/main.538db015.js.LICENSE.txt
/react-app/static/js/main.538db015.js.map
/react-eb-deploy/static/js/main.538db015.js.map
/react-app/static/css/main.978965b1.css
/react-eb-deploy/static/css/main.978965b1.css
/react-app/static/css/main.978965b1.css.map
/react-eb-deploy/static/css/main.978965b1.css.map
/react-app/manifest.json
/react-eb-deploy/manifest.json
/react-app/static/media/minivan.3f06c0c3bdd102d5edd2.jpg
/react-eb-deploy/static/media/minivan.3f06c0c3bdd102d5edd2.jpg
/react-app/static/media/placeholder.e8e5be6475f2da4ab867.png
/react-eb-deploy/static/media/placeholder.e8e5be6475f2da4ab867.png
/react-app.zip
/react-app/robots.txt
/react-eb-deploy/robots.txt
/react-app/static/media/sedan.a7699a0a4a88ab946eab.webp
/react-eb-deploy/static/media/sedan.a7699a0a4a88ab946eab.webp
/react-app/static/media/suv.513b2c4015ff0c97be9d.avif
/react-eb-deploy/static/media/suv.513b2c4015ff0c97be9d.avif
